.root {
    -fx-background-color: #f4f6f9;
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 16px;
}

.help-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
    -fx-padding: 5px 0;
    -fx-alignment: center;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}    

.back-button {
    -fx-background-color: #E57373;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10px 15px;
    -fx-background-radius: 10px;
    -fx-effect: innershadow(gaussian, #000000, 5, 0.0, 1, 1);
    -fx-border-radius: 10px;
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
}

.back-button:hover {
    -fx-background-color: #D84343;
    -fx-cursor: hand;
    -fx-effect: innershadow(gaussian, #000000, 10, 0.0, 1, 1);
}

.back-button:focused {
    -fx-background-color: #B71C1C;
    -fx-border-color: transparent;
}

.bottom-box {
    -fx-padding: 40px 50px 50px 0;
}


