.root {
    -fx-background-color: #f4f6f9;
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 16px;
}

.TextField, .PasswordField {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-pref-width: 300px;
}

.Label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 15px 25px;
    -fx-background-radius: 10px;
    -fx-effect: innershadow(gaussian, #000000, 5, 0.0, 1, 1);
    -fx-border-radius: 10px;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
}

.button:hover {
    -fx-background-color: #45a049;
    -fx-cursor: hand;
    -fx-effect: innershadow(gaussian, #000000, 10, 0.0, 1, 1);
}

.errorMessage {
    -fx-font-size: 14px;
    -fx-text-fill: red;
    -fx-font-weight: normal;
}

.AnchorPane {
    -fx-alignment: center;
    -fx-padding: 40px 0;
}

.button:focused {
    -fx-background-color: #388E3C;
    -fx-border-color: transparent;
}
