.root {
    -fx-background-color: #f4f6f9;
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-size: 16px;
}

.Label {
    -fx-font-size: 18px;
    -fx-font-weight: normal;
    -fx-text-fill: #333333;
}

#titleLabel {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

#totalWallet {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #4CAF50;
    -fx-padding: 10px 0;
}

.Circle {
    -fx-fill: white;
}

.TableView {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-effect: innershadow(gaussian, #000000, 5, 0.0, 1, 1);
    -fx-pref-width: 300px;
    -fx-pref-height: 200px;
}

.TableColumn {
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
    -fx-alignment: center;
}

.TableView .table-header-cell {
    -fx-background-color: #f0f0f0;
    -fx-font-weight: bold;
}

.TableView .table-row-cell {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

.TableView .table-row-cell:hover {
    -fx-background-color: #f9f9f9;
}

.Button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12px 25px;
    -fx-background-radius: 10px;
    -fx-effect: innershadow(gaussian, #000000, 5, 0.0, 1, 1);
    -fx-border-radius: 10px;
    -fx-pref-width: 150px;
    -fx-pref-height: 45px;
}

.Button:hover {
    -fx-background-color: #45a049;
    -fx-cursor: hand;
    -fx-effect: innershadow(gaussian, #000000, 10, 0.0, 1, 1);
}

.Button:focused {
    -fx-background-color: #388E3C;
    -fx-border-color: transparent;
}

#notificationStack {
    -fx-background-color: transparent;
}

#notificationCountLabel {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 3px 8px;
    -fx-background-radius: 50%;
    -fx-alignment: center;
}

#bellIcon {
    -fx-effect: innershadow(gaussian, #000000, 5, 0.0, 1, 1);
}
